@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

body {
  background-color: rgb(255, 255, 255);
  background-image: url(./pexels-pixabay-268533.jpg);
  opacity: 0.8;

  font-family: "Open Sans", sans-serif;
}

body h1 {
  color: rgb(255, 255, 255);
  margin: 25px;
}
body span {
  color: red;
}
